.DS_Store

# playwright
.playwright-mcp/*


# Claude IDE
.claude/settings.local.json
.claude/settings.json
.claude/instructions/*

# Cursor IDE
.cursor/*
.cursorignore
!.cursor/*.example*

# VS Code IDE
.vscode/*
!.vscode/*.example.json